<div class="w-1/4 bg-[#282825] flex flex-col items-center pt-8 pb-16 shadow-[10px_0_20px_-5px_rgba(0,0,0,0.4)] space-y-10">
    <a href="/anime" class="w-72 h-72 bg-blue-500 rounded-full flex justify-center items-center text-white font-bold relative overflow-hidden border-[1px] border-[#ffffff] shadow-[0_0_5px_#0a73ed]">
        <img src="/zoro.webp" alt="Watchlist" class="rounded-full hover:scale-110 object-cover w-full h-full absolute transition-transform duration-300 transform">
        <span class="relative z-10 text-[#0a73ed] text-4xl drop-shadow-[0_0_20px_#0a73ed]">
            Anime
        </span>
    </a>

    <a href="/manga" class="w-72 h-72 bg-blue-500 rounded-full flex justify-center items-center text-white font-bold relative overflow-hidden border-[1px] border-[#ffffff] shadow-[0_0_5px_#d10e0e]">
        <img src="/aizen.png" alt="Finished" class="rounded-full object-cover hover:scale-110 w-full h-full absolute transition-transform duration-300 transform">
        <span class="relative z-10 text-[#d10e0e] text-4xl drop-shadow-[0_0_20px_#d10e0e]">
            Manga
        </span>
    </a>
</div>
